{
  "endOfLine": "crlf",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "quoteProps": "consistent",
  "printWidth": 100,
  "singleAttributePerLine": true,
  "bracketSpacing": true
}
