.signup-img {
  width: 675px;
  height: 675px;
}

@media (min-width: 1440px) {
  .signup-img {
    width: 700px;
    height: 700px;
  }
}

@media (min-width: 1536px) {
  .signup-img {
    width: 750px;
    height: 750px;
  }
}
